.fg {
  margin-bottom: 50px;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__item {
      flex: 1;
      margin: 20px 20px;
      max-width: 300px;
      min-width: 300px;
      height: 150px;
      margin-bottom: 30px;
      img {
        height: 100%;
      }
    }
  }
}

.ff {
  &__list {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
}